body {
     background-color: #df9951;
}

.logo {
    width: 10%;
}

a {
    text-decoration: none;
}

.bodyTextHeading {
    font-size: 350%;
    color: #efdc90;
}

.bodyTextHeading2 {
    font-size: 350%;
    color: white;
}

.bodyTextHeading3 {
    font-size: 350%;
    color: white;
    text-align: center;
}

.bodyText {
    font-size: 150%;
    color: whitesmoke;
}

.bodyText2 {
    font-size: 150%;
    color: black;
}

.section2 {
    background-color: #5197df;
}

.section3 {
    background-color: #6051df;
}

.bodyImage {
    width: 90%;
}

.bodyImage2 {
    width: 80%
}

.bodyBox{
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 8%;
    margin-bottom: 8%;
    text-align: center;
}

.boxIcon {
    width: 10%;
}

.contactBox {
    border-radius: 10px;
    background-color: white;
    padding: 10%;
    margin: 10%;
    text-align: center;
}

.contactHeading1 {
    font-size: 350%;
    border-radius: 10px;
    background-color: lightslategray;
    color: white;
}

.contactHeading {
    font-size: 300%;
    color: black;
}

.contactText {
    font-size: 200%;
}

.contactIcon {
    width: 10%;
}